[submodule "bitcoincomp/oraclize"]
	path = bitcoincomp/oraclize
	url = git@github.com:oraclize/eos-api.git
[submodule "checkqueryid/oraclize"]
	path = checkqueryid/oraclize
	url = git@github.com:oraclize/eos-api.git
[submodule "eosusdprice/oraclize"]
	path = eosusdprice/oraclize
	url = git@github.com:oraclize/eos-api.git
[submodule "randomsample/oraclize"]
	path = randomsample/oraclize
	url = git@github.com:oraclize/eos-api.git
[submodule "wolframrand/oraclize"]
	path = wolframrand/oraclize
	url = git@github.com:oraclize/eos-api.git
[submodule "urlrequests/oraclize"]
	path = urlrequests/oraclize
	url = git@github.com:oraclize/eos-api.git
